<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" xmlns:layout="http://www.ultreaq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<body>
    <section layout:fragment="container">
        <h1>Transaction Data</h1>

        <!-- Button trigger modal -->
        <div class="d-flex col-10 p-2 my-3" style="background-color: rgb(0, 162, 255); border-radius: 10px;">
            <button type="button" id="newOrder" class="btn btn-warning my-3" onclick="newOrder()" disabled>
                New Order
            </button>
            <button type="button" id="newPayment" class="btn btn-success my-3 mx-1" disabled>
                Payment
            </button>
            <button type="button" id="newTransaction" class="btn btn-light my-3" onclick="getOrderHeader()">
                New Transaction
            </button>

            <div class="ms-auto align-self-center w-25">
                <input class="form-control" type="text" placeholder="Generated Order Header Here" id="reference"
                    readonly>
                <input type="hidden" id="orderHeaderId">
            </div>
        </div>

        <div class="col-md-10 table-responsive">
            <table class="table table-sm table-hover table-striped table-responsive">
                <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col" style="width: 15%;">Price</th>
                        <th scope="col" style="width: 10%;">Quantity</th>
                        <th scope="col" style="width: 15%;">Total Price</th>
                        <th scope="col" style="width: 15%;">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="orderDetailData">

                </tbody>
                <tfoot class="table-group-divider" id="orderDetailTotal">

                </tfoot>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>

        <script>
            let selectedProducts = [];

            function getOrderHeader() {
                $.ajax({
                    url: 'http://localhost:9001/api/orderheader',
                    type: 'post',
                    contentType: 'application/json',
                    success: function (orderHeader) {
                        $('#reference').val(orderHeader.data.reference);
                        $('#orderHeaderId').val(orderHeader.data.id);

                        $('#newOrder').prop('disabled', false);
                        $('#newTransaction').prop('disabled', true);
                    }
                })
            }

            function newOrder() {
                $.ajax({
                    url: '/transaction/getproductvariants',
                    type: 'get',
                    contentType: 'html',
                    success: function (variantForm) {
                        $('#myModal').modal('show');
                        $('.modal-title').html("Select New Order");
                        $('.modal-body').html(variantForm);
                    }
                })
            }

            function saveNewOrder(id) {
                let jsonData = {
                    price: $('#price').val(),
                    variantId: id,
                    headerId: $('#orderHeaderId').val(),
                    quantity: 1
                }

                if (selectedProducts.length == 0) {
                    selectedProducts.push(jsonData);
                } else {
                    let selected = selectedProducts.find(product => product.variantId === jsonData.variantId);
                    if (selected && jsonData.variantId === selected.variantId) {
                        selected.quantity += 1;
                    } else {
                        selectedProducts.push(jsonData);
                    }
                }
                console.log(selectedProducts);
                showSelectedItems();

                // $.ajax({
                //     url:`http://localhost:9001/api/orderdetail/${id}`,
                //     type: 'post',
                //     data:JSON.stringify(jsonData),
                //     contentType: 'application/json',
                //     success: function (orderDetail) {
                //         console.log(orderDetail);
                //     }
                // })
            }

            function showSelectedItems() {
                let number = 1;
                let tbody = ``;
                selectedProducts.forEach(product => {
                    tbody += `
                    <tr>
                        <th>${number++}</th>
                        <td>
                            <input type="text" class="form-control" value="${product.variantId}" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control" value="${product.price}" readonly>
                        </td>
                        <td>
                            <input type="number" class="form-control" value="${product.quantity}">
                        </td>
                        <td>
                            <input type="text" class="form-control" value="${(product.quantity) * (product.price)}" readonly>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger" onclick="deleteProduct(${product.variantId})"><i class="bi bi-x-circle"></i> Delete</button>
                        </td>
                    </tr>
                `
                });
                $('#orderDetailData').html(tbody);

                let tfoot = `
                    <tr>
                        <th colspan="3">
                            Total
                        </th>
                        <th>
                            <input type="text" class="form-control">
                        </th>
                        <th>
                            <input type="text" class="form-control">
                        </th>
                        <th></th>
                    </tr>
                `;
                $('#orderDetailTotal').html(tfoot);
            }

            function deleteProduct(id) {
                let selected = selectedProducts.filter((product => product.variantId != id));
                selectedProducts = selected;
                showSelectedItems();
            }
        </script>
    </section>
</body>

</html>